<template>
  <div class="container">
    <div class="row">
      <h3 class="center">Загрузите фотографии</h3>

    </div>
    <div class="row">
      <div class="col s8 push-s2 file-field input-field">
        <div class="btn orange darken-1" style="width: 100%">
          <icon>insert_photo</icon>
        </div>
        <input ref="imagesInput" type="file" multiple accept="image/*" @change="onFilesInputChange"/>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6 l4" v-for="(image, index) in images" :key="index">
        <div class="card">
          <div class="card-image">
            <img :src="image.image">
          </div>
          <div class="card-stacked">
            <div class="card-content flow-text" v-if="image.diag">
              <p class="center red-text text-accent-4" v-if="image.diag > 0.8">Высокий риск</p>
              <p class="center yellow-text text-darken-4" v-else-if="image.diag > 0.5">Средний риск</p>
              <p class="center" v-else>Низкий риск</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div v-if="(store.riskGroup === 0) && isImageUpload">
      <h5 class="center">Рекомендации</h5>
      <span class="flow-text">
        <ol>
          <li>Профилактический осмотр у врача-дерматовенеролога 1 раз в 2-3 года, с фотофиксацией новообразований (клинически и дерматоскопически);</li>
          <li>Самообследование кожи 1 раз в 6-12  месяцев;</li>
          <li>Избегать прямых солнечных лучей, особенно с 10.00 до 15.00;</li>
          <li>Использовать средства индивидуальной защиты от солнца (солнезащитные очки, шляпы с широкими полями, рубашки с длинным рукавом),  солнезащитные средства с фактором защиты SPF 20+</li>
        </ol>
      </span>
    </div>
    <div v-else-if="store.riskGroup === 1 && isImageUpload">
      <h5 class="center">Рекомендации</h5>
      <span class="flow-text">
        <ol>
          <li>Профилактический осмотр у врача-дерматовенеролога 1 раз в 6-8 месяцев, с обязательной фотофиксацией новообразований (клинически и дерматоскопически);</li>
          <li>Самообследование кожи 1 раз в 3 месяца;</li>
          <li>Избегать прямых солнечных лучей, особенно с 10.00 до 15.00;</li>
          <li>Использовать средства индивидуальной защиты от солнца (солнезащитные очки, шляпы с широкими полями, рубашки с длинным рукавом), солнезащитные средства с максимальным фактором защиты SPF 50+</li>
        </ol>
      </span>
    </div>
    <div v-else-if="store.riskGroup === 2 && isImageUpload">
      <h5 class="center">Рекомендации</h5>
      <span class="flow-text">
        <ol>
          <li>Профилактический осмотр у врача-дерматовенеролога 1 раз в 3-6 месяцев, с обязательной фотофиксацией новообразований (клинически и дерматоскопически);</li>
          <li>Самообследование кожи 1 раз в месяц;</li>
          <li>Избегать прямых солнечных лучей, особенно с 10.00 до 15.00;</li>
          <li>Использовать средства индивидуальной защиты от солнца (солнезащитные очки, шляпы с широкими полями, рубашки с длинным рукавом), солнезащитные средства с максимальным фактором защиты SPF 50+</li>
        </ol>
      </span>
    </div>
  </div>
    </div>

  </div>
</template>

<script>
import api from '../api'

export default {
  data: () => ({
    store: window.store,
    images: [],
    isImageUpload: false
  }),
  methods: {
    onFilesInputChange (e) {
      this.images = []
      for (let [index, file] of Array.entries(e.target.files)) {
        const reader = new FileReader()
        reader.onload = () => {
          this.images[index].image = reader.result
        }
        this.images.push({ image: null, diag: null, file: file })
        reader.readAsDataURL(file)
      }

      const files = this.images.map(x => x.file)
      api.uploadImages(files)
        .then(data => {
          for (let [index, val] of Object.entries(data)) {
            this.images[parseInt(index)].diag = val
          }
          this.isImageUpload = true
        })
    }
  }
}
</script>

<style scoped>
.card .card-content {
  padding: 0em 0em;
  padding-bottom: 1em;
  border-radius: 0 0 2px 2px;
  font-size: 1.2em;
}

.card {
  margin: 0;
  box-shadow: none;
}
</style>
