<template>
  <div v-if="store.testUndone">
    <div v-for="(testItem, index) of store.test" :key="index">
      <p class="col l6">
        <input v-model="store.test[index].value" type="checkbox" :id="`test${index}`" />
        <label :for="`test${index}`">
          <span>{{ testItem.text }}</span>
          <a v-if="testItem.info !== undefined " class="modal-trigger" :href="`#modal${index}`">
            <icon>info_outline</icon>
          </a>
          <div>
            <img style="max-height: 150px" class="responsive-img" v-for="(imgSrc, i) of testItem.img" :src="imgSrc" :key="i">
          </div>
        </label>
      </p>

      <!-- Modal Structure -->
      <div :id="`modal${index}`" class="modal modal-fixed-footer" v-if="testItem.info">
        <div class="modal-content">
          <h4>{{ testItem.info.header }}</h4>
          <p>{{ testItem.info.text }}</p>

          <div class="row">
            <div class="col s12 m6 l4" v-for="(image, index) in testItem.info.img" :key="index">
              <div class="card">
                <div class="card-image">
                  <img :src="image">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Закрыть</a>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="input-field col s12">
        <button @click="onResultClick" class="btn waves-effect waves-light">Результаты</button>
      </div>
    </div>
  </div>
  <div v-else>
    <div v-if="store.riskGroup === 0">
      <h5 class="center">Низкий риск</h5>
    </div>
    <div v-else-if="store.riskGroup === 1">
      <h5 class="center">Высокий риск </h5>
    </div>
    <div v-else-if="store.riskGroup === 2">
      <h5 class="center">Очень высокий риск</h5>

    </div>
  </div>
</template>

<script>
import $ from 'jquery'

export default {
  data: () => ({
    store: window.store
    // test: window.score.test
  }),
  mounted() {
    $('.materialboxed').materialbox()
    $('.modal').modal()
  },
  methods: {
    onResultClick() {
      this.store.testUndone = false
    }
  }
}
</script>

<style scoped>
img {
  max-height: 320px;
}
</style>
