<template>
  <div id="app">
    <nav>
      <div class="nav-wrapper navbar-fixed">
        <a href="#!" class="brand-logo center">
          SkinMoleScan
        </a>
      </div>
    </nav>
    <main>
      <router-view/>
    </main>
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Определение злокачественных опухолей</h5>
            <p class="grey-text text-lighten-4"></p>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2018 Sirius URFU
        </div>
      </div>
    </footer>
  </div>

</template>

<script>
  export default {
    name: 'app'
  }
</script>

<style>
#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.force-disabled {
  color: gray;
  pointer-events: none;
}
</style>
